#list {
	width: 960px;
	height: auto;
	margin: 0px auto;
}
.left-col{
	width: 700px;
	float: left;
	min-height: 600px;
}
.right-col {
	width: 240px;
    float: right;
    margin-right: 10px;
}
.tit1 {
	margin-left: 10px;
}

.tit2 {
	margin-left: 21px;
}
.all-title{
	width: 100%;
	height: 47px;
	float: left;
	border: 1px solid #d7dde3;
	margin-top: 5px;
	background: rgb(242,242,242);
	font-weight: bold;
	color: #333;
	line-height: 23px;
	padding-left: 10px;
}
.content_list table td a {
	line-height: 25px;
	color: #006999;
	display: block;
	/*margin-left: 25px;*/
	white-space: nowrap;
}
#list tr {
	text-align: left;
	/*margin-left: 15px;*/
}

#list table td {
	/*display: inline-block;*/
}


#list table td a {
	line-height: 25px;
	color: #006999;
	/*display: block;*/
	/*margin-left: 25px;*/
	white-space: nowrap;
}
#left-lanmu{
	width: 100%;
	height: auto;

}
#left-lanmu table tr{
	width: auto;
	float: left;
}
.lanmu{
	width: 173px;
	height: 300px;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}
.lanmu-title{
	width: 100%;
	height: 35px;
	font-weight: bold;
	color: #333;
	background-color: #9cc;
}
.lanmu-list tr td{
	width: 173px;
	height: 29px;
	margin-top: 2px;
}

.lanmu-liebiao td:hover {
    background-color: #92cb59;
}

.lanmu-liebiao{
	width: 173px;
	height: 22px;
	margin-top: 3px;
	border-bottom:2px solid #fff;
	background: #d6dfee;
}

.lanmu-liebiao a {
	cursor: pointer;
	padding-left: 5px;
    color: #282828;
    font-weight: bold;
    font-size: 14px;
}

.lanmu-liebiao:last-child {
	border: none;
}

#nav-bar {
	position: absolute;
	top: -1px;
	width: 960px;
}

.wenzhang{
	width: 78%;
	height: auto;;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}
.title-left{
	width: 30%;
	font-size: 12px;
}
.title-right{
	width: 70%;
	height: 47px;
	float: right;
	text-align: right;
	line-height: 47px;
}
.lanmu-list{
	margin-top: 5px;
}
#newslist a{
	color: #000;
	padding-left: 5px;
}

#newslist a:hover {
    text-decoration: underline;
}

.newslist-tr{
	 width:100%;
	 height:32px;
	 background-color: #e6e6e6;
	 border-bottom: 3px solid #ffffff;
	 /*display: block;
	float: left;*/
}

.STYLE57 {
    font-size: 16px;
    font-weight: bold;
}

.newslist-tr:last-child {
	border: none;
}

.top-img {
	border-bottom: 2px solid #ffffff;
}

.bottom-img {
	border-top: 2px solid #ffffff;
}